:root {
  --space_gutter: 50px;
  --full_gutter: 100px;
  --left_nav_width: 280px;
  --header_height: 100px;
  --background_color_main: #f5f5f5;
  --background_color_secondary: #efefef;
  --link_color: #333;
  --accent_color: #d9072d;
  --border_color: #e1e1e1;
  --stroke_color: #e3e3e3;
  --grey: #b1b1b1;
  --custom_menu_height: 60px;
  --space-top: calc(var(--header_height) + var(--custom_menu_height));
}

.main-layout .main-content .page-header-section {
  margin-left: calc((var(--full_gutter) + 30px) * -1);
  margin-right: calc((var(--full_gutter) + 60px) * -1);
  padding: 50px calc(var(--full_gutter) + 30px);
  box-sizing: border-box;
  background-image: url("../images/banner-bg-red.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--accent_color);
  color: #fff;
  margin-top: -30px;
}

@media (min-width: 1700px) {
  .main-layout .main-content .page-header-section {
    margin-left: calc(((100vw - 1440px) / 2) * -1);
    margin-right: calc((((100vw - 1440px) / 2) + 30px) * -1);
    padding: 50px calc(((100vw - 1440px) / 2));
  }
}
@media (max-width: 1040px) {
  .main-layout .main-content .page-header-section {
    margin-right: -30px;
    margin-left: -30px;
    padding: 30px;
  }
}
@media (max-width: 550px) {
  .main-layout .main-content .page-header-section {
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
    background-attachment: unset;
  }
}

.main-layout .main-content .page-header-section a {
  color: #fff;
}

.main-layout .main-content .page-header-section h1 {
  text-align: center;
  font-size: 2.3em;
  font-weight: 500;
}

@media (max-width: 550px) {
  .main-layout .main-content .page-header-section h1 {
    font-size: 1.5em;
  }
}

.main-layout .main-content .page-header-section .breadcrumbs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0.8em;
}

.main-layout
  .main-content
  .page-header-section
  .breadcrumbs
  li:not(:first-child) {
  opacity: 0.5;
}

.main-layout .main-content .page-header-section .breadcrumbs .icon {
  opacity: 1 !important;
}

.main-layout .main-content .page-header-section .actions {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 550px) {
  .main-layout .main-content .page-header-section .actions {
    flex-direction: column;
  }
}

.main-layout .main-content .page-header-section .btn {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  font-size: 0.9em;
}

.main-layout .main-content .page-header-section .left {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}

.main-layout .main-content .page-header-section .email-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 550px) {
  .main-layout .main-content .page-header-section .email-info {
    align-items: center;
  }
}

.main-layout .main-content .page-header-section .email-info p {
  margin: 0px;
}

.main-layout .main-content .page-header-section .email-info p.email {
  font-size: 1.3em;
}

.section {
  margin-top: 50px;
}

.section .faq-section {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 550px) {
  .section .faq-section {
    flex-direction: column;
    gap: 10px;
  }
}

.section .faq-section .section-detail {
  width: 300px;
}

@media (max-width: 1040px) {
  .section .faq-section .section-detail {
    width: 200px;
  }
}

.section .faq-section .section-content {
  flex: 1;
}

.accordion-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.accordion-list li {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

@media (max-width: 550px) {
  .accordion-list li {
    gap: 5px;
  }
}

.accordion-list li h4,
.accordion-list li p {
  margin: 0px;
}

.accordion-list li .section-arrow {
  width: 30px;
}

.accordion-list li .section-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-list li .section-item .section-item-title {
  font-weight: 500;
}

.accordion-list li .section-item .section-item-content {
  display: none;
  opacity: 0.5;
  font-size: 0.9em;
}

.accordion-list li .arrow-indicator {
  transition: 0.5s;
}

.accordion-list li .arrow-indicator.open {
  transform: rotate(180deg);
}

.payment-option-section {
  margin-top: 50px;
}

.payment-option-section h4 {
  font-weight: 500;
}

.payment-option-section .po-grid {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

@media (max-width: 1040px) {
  .payment-option-section .po-grid {
    flex-direction: column;
    gap: 20px;
  }
}

.payment-option-section .po-grid .po-grid-item {
  flex: 1;
  display: flex;
  gap: 20px;
}

.payment-option-section .po-grid .po-grid-item .po-item-icon {
  width: 40px;
}

.payment-option-section .po-grid .po-grid-item .po-item-icon img {
  width: 30px;
  height: auto;
}

.payment-option-section .po-grid .po-grid-item .po-item-content {
  flex: 1;
}

.payment-option-section .po-grid .po-grid-item .po-item-content h5 {
  margin: 0px;
  font-weight: 500;
  font-size: 1em;
}

.payment-option-section .po-grid .po-grid-item .po-item-content p {
  font-size: 0.8em;
}
