@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --space_gutter: 50px;
  --left_nav_width: 280px;
  --header_height: 80px;
  --background_color_main: #f5f5f5;
  --background_color_secondary: #efefef;
  --link_color: #333;
  --accent_color: #e40515;
}

html, body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background_color_main);
  font-size: 16px;
}

a {
  color: var(--link_color);
  text-decoration: none;
}

/* ========================== Header ========================== */
#header {
  height: var(--header_height);
  position: fixed;
  overflow: hidden;
  width: 100%;
  background-color: var(--background_color_secondary) !important;
  z-index: 999;
  display: flex;
  top: 0px;
  left: 0px;
  padding-right: var(--space_gutter);
  box-sizing: border-box;
}
/* -------------------------- Logo Container -------------------------- */
#header .logo-container {
  width: var(--left_nav_width);
  min-width: var(--left_nav_width);
  padding: 10px var(--space_gutter);
  background-color: var(--background_color_main);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#header .logo-container a {
  display: flex;
  align-items: center;
}
#header .logo-container a img {
  width: 100%;
  height: auto;
}
/* -------------------------- Header Search & Navigation -------------------------- */
#header .header-container {
  flex: 1;
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
#header .header-container .menu ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 25px;
  font-size: 0.9em;
}
#header .header-container .menu ul a {
  display: block;
}
#header .header-container .menu ul .current a {
  color: var(--accent_color);
}
#header .header-container .header-nav2 {
  display: flex;
  gap: 20px;
  align-items: center;
}
#header .header-container .header-nav2 .header-cart {
  position: relative;
}
#header .header-container .header-nav2 .header-cart .cart-products-count {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--accent_color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  top: -8px;
  right: -8px;
  border-radius: 50%;
}
#header .header-container .header-nav2 #_desktop_user_info .user-info {
  display: flex;
  gap: 20px;
  align-items: center;
}
#header .header-container .header-nav2 #_desktop_user_info .account-link {
  width: 35px;
  height: 35px;
  background-color: #e9e9e9;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
}
#header .header-container .header-nav2 #_desktop_user_info .account-link i {
  transform: translateY(9px);
}
/* ========================== End of Header ========================== */

/* ========================== Main Layout ========================== */
.main-layout {
  position: relative;
  margin-left: var(--left_nav_width);
  box-sizing: border-box;
}
/* -------------------------- Left Navigation -------------------------- */
.main-layout .left-navigation {
  position: fixed;
  left: 0px;
  top: var(--header_height);
  width: var(--left_nav_width);
  min-width: var(--left_nav_width);
  height: calc(100vh - var(--header_height));
  background-color: #fff;
  z-index: 998;
  box-sizing: border-box;
  padding: 50px;
  overflow-y: auto;
}
.main-layout .left-navigation ul {
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
}
/* -------------------------- Main Content -------------------------- */
.main-layout .main-content {
  padding: 30px;
  padding-bottom: 0px;
  width: 100%;
  padding-top: calc(var(--header_height) + 25px);
  padding-right: var(--space_gutter);
  box-sizing: border-box;
}
.main-layout .main-content .site-features {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  margin-top: 80px;
}
.main-layout .main-content .site-features .feature-item {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 300px;

}
.main-layout .main-content .site-features .feature-item img {
  width: 86px;
  height: auto;
}
.main-layout .main-content .site-features .feature-item .item-details .item-title {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1em;
}
.main-layout .main-content .site-features .feature-item .item-details p {
  font-size: 0.9em;
}
.main-layout .main-content #search_filters_brands {
  margin-bottom: 30px;
}
.main-layout .main-content #search_filters_brands h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
}
.main-layout .main-content #search_filters_brands p {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.main-layout .main-content #search_filters_brands ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: top;
}
.main-layout .main-content #search_filters_brands ul li {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: calc(16.66666666% - 20px);
}
.main-layout .main-content #search_filters_brands ul li img {
  width: 100%;
  border-radius: 10px;
}
.main-layout .main-content #search_filters_brands ul li .brand-name {
  font-weight: 500;
  font-size: 1em;
  display: block;
}
/* ========================== End of Main Layout ========================== */

/* ========================== Feature Products ========================== */
.featured-products {
  margin-bottom: 30px;
}
.featured-products>h2 {
  margin: 5px 0;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  max-width: 350px;
  margin: auto;
}
.featured-products>p {
  margin-bottom: 20px;
  font-size: 0.8em;
  text-align: center;
}
.product-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 40px;
  font-size: 1rem;
}
.page-home .product-list-container {
  justify-content: space-between;
}
.product-list-container .product {
  width: calc(23.5% - 20px);
  align-self: stretch;
  min-height: 100%;
  position: relative;
}
.product-list-container .product .product-miniature {
  height: 100%;
}
.product-list-container .product .prod-thumbnail {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  height: 100%;
}
.product-list-container .product .prod-thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-list-container .product .product-description {
  padding: 15px;
  box-sizing: border-box;
}
.product-list-container .product .product-description .h3 {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: normal;
}
.product-list-container .product .product-flags {
  position: absolute;
  top: 10px;
  right: 10px;
  list-style: none;
  margin: 0px;
}
.product-list-container .product .product-flags .product-flag {
  background-color: var(--accent_color);
  padding: 5px 10px;
  width: 50px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.8em;
  border-radius: 5px;
  color: #fff;
}
.product-list-container .product .product-flags .product-flag.discount {
  background-color: #009688;
}
.featured-products {
  overflow: auto;
}
.featured-products .all-product-link {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  margin-top: 20px;
  float: right;
}
/* ========================== End of Feature Products ========================== */

/* ========================== Footer ========================== */
#footer .footer-body {
  background-color: var(--background_color_secondary);
  margin: 0 -30px;
  padding: 30px;
  padding-right: calc(30px + (var(--space_gutter) - 30px));
  margin-right: calc(-30px - (var(--space_gutter) + 30px));
  width: 100%;
}
#footer .footer-body .footer-body-head {
  border-bottom: 1px solid #333;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
#footer .footer-body .footer-body-head .logo-container {
  width: 210px;
}
#footer .footer-body .footer-body-head .logo-container a {
  display: flex;
  align-items: center;
}
#footer .footer-body .footer-body-head .logo-container img{
  width: 100%;
  height: auto;
}
#footer .footer-body .footer-body-head .menu ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  font-size: 0.9em;
}
#footer .footer-body .footer-body-head .menu ul .current a {
  color: var(--accent_color);
}
#footer .footer-body .footer-body-head .block-social ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  font-size: 0.9em;
}
#footer .footer-body .footer-body-head .block-social ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
}
#footer .footer-body .footer-body-head .block-social ul a img {
  width: auto;
  height: 15px;
}
#footer .footer-body .footer-body-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: top;
  padding: 20px 0;
  margin-top: 30px;
}
#footer .footer-body .footer-body-content .link-list-container .h3 {
  margin: 0px;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 20px;
}
#footer .footer-body .footer-body-content .link-list-container ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#footer .footer-body .footer-body-content .block-contact .h3 {
  margin: 0px;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 20px;
}
#footer .footer-body .footer-body-content .block-contact ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#footer .footer-footer {
  display: flex;
  padding: 20px 0;
  font-size: 0.9em;
  align-items: center;
  justify-content: space-between;
}
#footer .footer-footer .link-list-container .h3 {
  display: none;
}
#footer .footer-footer .link-list-container ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 20px;
}
/* ========================== End of Footer ========================== */

.line {
  width: 100%;
  height: 3px;
  margin: 30px 0;
  background-color: var(--background_color_main);
  border-radius: 3px;
}

.h-icon {
  transform: translateY(3px);
}
